{% extends "layouts/base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center m-y-10">Live Camera Feed</h1>
    <button class="btn btn-info btn-sm" id="start-button">Start Camera</button>
    <button class="btn btn-info btn-sm" id="stop-button">Stop Camera</button>
    <br><br><br>
    <img id="video-frame" alt="Camera Feed" style="max-width: 100%; height: auto;" />
    <br>
    <div class="container mt-5">
        <h1 class="mb-4">Prediction Alerts</h1>
        <div id="alerts"></div>
    </div>
</div>
{% endblock %}

{% block scripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.min.js"></script>

    <script>
        function createSocket() {
            return io({
                transports: ['websocket'],
                reconnection: true,
                reconnectionAttempts: 5,
                reconnectionDelay: 1000,
                timeout: 20000
            });
        }
        let socket = createSocket()

        const videoFrame = document.getElementById('video-frame');
        const startButton = document.getElementById('start-button');
        const stopButton = document.getElementById('stop-button');

        const random_id = "0tsk5TTz9RAoBzWRoJJd"
        startButton.addEventListener('click', () => {
            fetch(`/start-camera?attendance_id=${encodeURIComponent(random_id)}`)
                .then(response => {
                    if (!response.ok)
                        alert("Camera cannot be started")
                    return response.json()
                })
                .then(data => {
                    if (socket) {
                        socket.open()
                        setInterval(() => {
                            socket.emit('request_frame', {attendace_id: random_id});
                        }, 150);
                    }
                });
        });

        stopButton.addEventListener('click', () => {
            fetch(`/stop-camera?attendance_id=${encodeURIComponent(random_id)}`)
                .then(response => {
                    if (!response.ok) {
                        console.log("Error stopping camera");
                    }
                    socket.close()
                    videoFrame.src = "";
                })
        });

        socket.on('new_frame', (data) => {
            const blob = new Blob([data], { type: 'image/jpeg' });
            const url = URL.createObjectURL(blob);
            videoFrame.src = url;
        });

        socket.on('new_detection', (data) => {
            console.log(data);
            const alertsContainer = document.getElementById('alerts');
            alertsContainer.innerHTML = '';
            data.detections.forEach(item => {
                // Best prediction alert
                const bestPrediction = item.best_prediction[0];
                const bestPredictionProbability = Math.round(bestPrediction[0] * 100, 2);
                const successAlert = document.createElement('div');
                successAlert.className = 'alert alert-success';
                successAlert.innerHTML = `Best Prediction: Label ${bestPrediction[1]} with probability ${(parseFloat(bestPrediction[0])*100).toFixed(4)} %`;
                alertsContainer.appendChild(successAlert);

                // Other predictions alerts
                item.predictions.forEach(prediction => {
                    if (prediction.label !== bestPrediction[1]) {
                        const infoAlert = document.createElement('div');
                        const prob = Math.round(prediction.probability * 100, 2);
                        infoAlert.className = 'alert alert-info';
                        infoAlert.innerHTML = `Prediction: Label ${prediction.label} with probability ${(parseFloat(prediction.probability)*100).toFixed(4)} %`;
                        alertsContainer.appendChild(infoAlert);
                    }
                });
            });
        });

    </script>

{% endblock %}